name: CI - Train with MLflow Project

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0

      - name: Run MLflow Project
        run: |
          mlflow run MLProject

      # Optional (bagus untuk bukti): upload folder mlruns sebagai artifact
      - name: Upload mlruns (optional)
        uses: actions/upload-artifact@v4
        with:
          name: mlruns
          path: mlruns
